html body {
  margin: 0;
}

#container {
  height: 100%;
  width: 100%;
  background-color: #3663ad;
}

#LogoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#imageContainer {
  margin-top: 8px;
  position: absolute;
}

#leftBodyContainer {
  display: flex;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

#loremBox {
  background-color: #fffff0;
  width: 70%;
  height: 5cm;
  padding: 32px;
  z-index: 5;
}

#RightBodyContainer {
  flex: 1;
  height: 80vh;
  display: flex;
  align-items: center;
  opacity: 0.8;
  position: relative;
}

.pokeContainer {
  background-color: #cccccc;
  height: 90%;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 8px;
  position: relative;
  z-index: 100;
}

.pokeBox {
  background-color: white;
  width: 4cm;
  height: 4cm;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pokeBox[data-pokeAnimationState="1"] {
  animation-name: pokeboxEntering;
  animation-duration: 1s;
}

@keyframes pokeboxEntering {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bodyContent {
  display: grid;
  grid-template-columns: 30% 70%;
}

footer {
  flex: 1;
  height: 16vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blackContainer {
  height: 100vh;
  width: 100%;
  background-color: black;
}

.whiteBox {
  position: relative;
  height: 5cm;
  width: 5cm;
  background-color: white;
  top: 2cm;
  left: 2cm;
}
