html body {
  margin: 0;
}

#container {
  height: 100vh;
  width: 100vw;
  background-color: #3663ad;
}

#header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#imageContainer {
  position: absolute;
}
